.footer {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background: gold;
  font-family: 'Days One';
}

.footerTitle {
  font-size: 1.3rem;
  color: black;
}

.footerNav {
  display: flex;
  gap: 4rem;
}

.footerIcon {
  font-size: 2rem;
  color: black;
}
