.footer {
  margin-top: 4rem;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: gold;
  font-family: 'Days One';
}

.footerTitle {
  margin-top: -0.4rem;
  font-size: 2rem;
  color: black;
}

.footerNav {
  display: flex;
  gap: 4rem;
}

.footerIcon {
  font-size: 2rem;
  color: black;
}

.afterFooter {
  margin-top: 4rem;
}